:root {
  --primary: #102e60;
  --primaryDark: #002b62;
  --white: #ffffff;
}
html[data-sidenav-size="condensed"]:not([data-layout="topnav"])
  .wrapper
  .leftside-menu
  .side-nav
  .side-nav-item:hover
  .side-nav-link {
  position: relative;
  color: var(--white);
  background: var(--primary);
  width: var(--ct-leftbar-width);
}
html[data-sidenav-size="condensed"]:not([data-layout="topnav"])
  .wrapper
  .leftside-menu
  .side-nav
  .side-nav-item:hover
  > .collapse
  > ul,
html[data-sidenav-size="condensed"]:not([data-layout="topnav"])
  .wrapper
  .leftside-menu
  .side-nav
  .side-nav-item:hover
  > .collapsing
  > ul {
  background: var(--primary);
}
.breadcrumb {
  --ct-breadcrumb-divider-color: var(--primaryDark);
  --ct-breadcrumb-item-active-color: var(--primaryDark);
}
.breadcrumb li a {
  color: var(--primaryDark);
}
input[data-switch]:checked+label:after {
  left: 47px;
}
.image_box {
  position: relative;
  width: 100%;
  max-width: 120px;
}
.image_box button {
  position: absolute;
  right: -21px;
  padding: 10px 14px;
  top: -11px;
}
.images.image_box_list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.btn-primary {
  background-color: var(--primaryDark);
}
.btn-primary:hover {
  background-color: var(--primaryDark);
}
.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 500px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 500px;
}
.gmap_iframe {
  width: 1000px!important;
  height: 500px !important;
}